page-login {
    .user-dev{
            width: 100%;
    text-align: center;
    font-size: 25px;
    color: #ffffff;
    }

}
.login-content{

    background-color: 	#003147;
}

.icon{
    color: 	#fbb713;
    font-size: 3em;
}
.registration-row{
      margin-top: 40px;
      
}
.reg-input-row{
   margin: auto;
   width: 75%;
}
.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}
.registration-button{
    margin: auto;
    width: 50%;
    color: #003147;
    background-color:#fbb713 ;
}


ion-input{
    color: #ffffff;
}
.fp-Button{
    float: right;
    background-color: transparent;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.0);
    font-size: smaller;
    color: darkgrey;
    text-transform: none;
}
.fp-Button.activated{
    float: right;
    background-color: transparent;
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0), 0 0px 0px 0px rgba(0, 0, 0, 0), 0 0px 0px 0 rgba(0, 0, 0, 0.0);
    font-size: smaller;
    color: darkgrey;
    text-transform: none;
}
.fp-container{
    width: 100%;
}
.fp-row{
  margin-top: -23px;
}
.registration-label-row{
  margin-top: 40px;
}
.registration-label{
  margin: auto;
  color: #b7bdc1;

}
.sign-up-button{
     margin: auto;
    width: 50%;
    color: #003147;
    background-color:#d8d8d8;
}
.round-img{
    border-radius: 100%;
    height: 24%;
    width: 42%;
    margin: auto;
    display: block;
}


