<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="login-content">
  <img class="round-img"src="assets/img/ngiza.png" >
   <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
  <ion-grid>
    <ion-row>
      <div class="user-dev">welcome :  {{userName}}</div>
    </ion-row>
  <ion-row class="reg-input-row">
    <ion-col col-3>
     <ion-icon name="lock" class="icon"></ion-icon>
    </ion-col>
    <ion-col >
     <ion-input  type="password"  name="password"  formControlName="password" placeholder="password" ></ion-input>
     <div *ngIf="loginForm.controls['password'].invalid && loginBefore == true">
       enter valed password
     </div>

    </ion-col>
  </ion-row>
  <ion-row class="reg-input-row">
    <ion-col col-3>
     <ion-icon name="lock" class="icon"></ion-icon>
    </ion-col>
    <ion-col >
     <ion-input  type="password"  name="password" formControlName="Rpassword" placeholder="confirm your Password"></ion-input>
     <div *ngIf="loginForm.controls['password'] != loginForm.controls['Rpassword'] && loginBefore == true">
       your password doen`t match
     </div>

    </ion-col>
  </ion-row>

  <ion-row class="registration-row">
      <button ion-button type="submit" class="registration-button" block>confirm</button>
  </ion-row>
  </ion-grid>
   </form>
  
</ion-content>
