header {
    
}
.title-cont{
    overflow:  auto;
}

.toolbar-title-md{

    font-size: 1.5em;
    overflow: initial;
    white-space: nowrap;
    font-weight: bold;

}

.logout-Button{
    margin: auto;
    
    color: #003147;
    background-color: #fbb713;
    }