page-profile {

}
.profile-segment-button{
    color : #ffffff !important;
}
.segment-md-secondary .segment-button.segment-activated{
    border-color: #fbb713;
    color: #ffffff;
    opacity: 1;
}
.profile-user-name{
        margin: auto;
    text-align: center;
    color: #005a87;
}
.profile-user-row{
    width: 90%;
    margin: auto;
}