page-profile {
    .card-md{
        box-shadow: 0 2px 2px 0 rgb(0, 49, 71), 0 3px 1px -2px rgb(161, 166, 169), 0 1px 5px 0 rgb(0, 49, 71);
    }

}
.segment-md-secondary .segment-button{
    border-color: #fbb713;
}
.segment-ios-secondary .segment-button{
    border-color: #fbb713;
}
.balance-card{
    margin-top: 70px;
    text-align: center;
    padding-top: 18px;
}
.profile-segment-button{
    color : #ffffff !important;
}
.segment-md-secondary .segment-button.segment-activated{
    border-color: #fbb713;
    color: #ffffff;
    opacity: 1;
}
.segment-ios-secondary .segment-button.segment-activated{
    border-color: #fbb713;
    color: #ffffff;
    opacity: 1;
}
.profile-user-name{
        margin: auto;
    text-align: center;
    color: #005a87;
}
.toolbar-background-ios{
    background: #003147;
}
.profile-user-row{
    width: 90%;
    margin: auto;
}