page-landing {
    background-color : black;
}
.slide-image {
    height: 100% !important;
}
.slide-contaner{
     height: 100%;
}
.slide-zoom{
    height: 100%;
}
/*
.slide-logo{
    position: fixed;
    top: 45%;
    left: 37%;
     margin-top: -50px; 
     margin-left: -100px; 
    background-color: transparent;
}
*/
.spinner{
    width: 100%;
    height: 100%;
    background-image : "assets/img/ngiza,png";
    stroke: #444;
    fill: #222;
    position: relative;
    z-index: 100;
}
.spinner-container {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 85px;
  text-align: center;
}
