page-landing {
    background-color : black;
}
.slide-image {
    height: 100% !important;
}
.slide-contaner{
     height: 100%;
}
.slide-zoom{
    height: 100%;
}
/*
.slide-logo{
    position: fixed;
    top: 45%;
    left: 37%;
     margin-top: -50px; 
     margin-left: -100px; 
    background-color: transparent;
}
*/

