page-home {

}
.norif-col{
   
    padding-left: 27px;
}
.notif-row{
    height: 28px;
}
h3{
   
    padding-left: 27px;
}
div.notif-time{
    text-align: -webkit-right;
    text-align: right;
    font-size: 13px;
    color: #b7bdc1;
}
span.notif-title{
    color :#fcb923;

}
.notif-icon{
    font-size: 1em !important;
}
.notif-description{
        margin-left: 23px;
        font-size: 13px;
        overflow: inherit ;
        text-overflow: inherit ;
        white-space: normal ;
}
.notif-title-col{
    padding-top: 0px;
}
.scroll-content{
    padding: 0px !important;
}
.scroll-bar-indicator
{
	display: none;
}
.list-md {
   // margin: -37px 0 16px;
}
.event-img{
    width: 92% !important;
    height: 100% !important;
}
.label-md {
    margin: 2px 8px 13px 0;
}
.home-buttons{
    background-color: transparent;
    color:  #b7bdc1;
}
.title{
    vertical-align: middle;
}
.toolbar-title-md{
    width: inherit;
    margin: auto;
    color: #ffffff;
}
.toolbar-background-md{
    background: #003147;
}