<!--
  Generated template for the NewsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ngsc-header [name]='name'></ngsc-header>
</ion-header>
<ion-content padding>
  <span *ngIf="ready">
<ion-card  class="news-card" *ngFor="let post of news; let index = index ; trackBy:trackByIndex;">
    <ion-row><ion-col class="title-col">{{post.title}}</ion-col></ion-row>
    <img [src]="post.image">
    <ion-row><ion-col><p>{{post.content}}</p></ion-col></ion-row>
      <div *ngIf="!post.isliked && !post.isdesliked">
      <ion-row>
        <ion-col col-3>
          <button ion-button icon-left clear small (tap)="change(index,1)">
            <ion-icon  name="thumbs-up"></ion-icon>
            <div>{{post.likeCount}}</div>
          </button>
        </ion-col>
        <ion-col col-3>
          <button ion-button icon-left clear small (tap)="change(index,2)">
            <ion-icon name="thumbs-down"></ion-icon>
            <div>{{post.dislikeCount}}</div>
          </button>
        </ion-col>
      </ion-row>
      </div>
    <div *ngIf="post.isliked">
      <ion-col>
      <p class="news-interact">you and {{post.likeCount}} like this</p>
      </ion-col>
    </div>
    <div *ngIf="post.isdesliked">
      <p class="news-interact">you and {{post.dislikeCount}} dislike this</p>
    </div>
</ion-card>
  </span>
</ion-content>
