page-resturants {

}
.rest-slides.cont{
    height: 33%;
}
.rest-img-cont{
    width: 100%;
    height: 55%;
}
.rest-name{
        font-size: 15px;
        color: #357e9f;

}
.rest-desc{
        font-size: 13px;
        color: #357e9f;

}
.rest-slides{
    margin-top: 20px;
   // height: 33%;
}
.items-cont{
    height: 100%;
}
.item-img{
    height: 50%;
    width: 30%;
}
.item-header{
        font-size: 24px;
    color: #086790;
}
.rest-input{
    width:20%;
    color: #000000 !important;
}
.rest-button{
    width: 13px;
    height: 19px;
}