page-resturants {
    .order-button{
        color: #003147;
        background-color: #fbb713;
        margin-left: 39%;
        margin-bottom: 10px;
    }
    .no-items-cont{
        color: #357e9f;
        font-size: 1.4em;
        text-align: center;
    }
    .rest-img-cont{
        width: 70%;
        height: 60%;
        margin: auto;
    }
    .prod-img-cont{
        margin: auto;
        width: 100%;
        height: 40%;
    }
    }
.rest-slides-cont{
    //height: 20%;
}
.order-button-cont{
    width: 100%;
}
.rest-img{
    height: 80px !important;
    width: 100% !important;
    text-align: center;
    white-space: normal;
    color:#357e9f;
}

.rest-name{
        font-size: 15px;
        color: #357e9f;

}
.rest-desc{
        font-size: 13px;
        color: #357e9f;

}
.rest-slides{
    margin-top: 20px;
   // height: 33%;
}
.items-cont{
    height: 80%;
}
.item-img{
    height: 50%;
    width: 30%;
}
.item-header{
    font-size: 18px;
    white-space: normal;
    overflow: auto;
    color: #086790;
    width: 100%;
    text-align: center;
}
.rest-input{
    text-align: center;
    font-family: fantasy;
    margin: auto;
    color: #fbb713 !important;

}
.rest-button{
    background-color: #fbb713;
    width: fit-content;
    height: 100%
}
.rest-item-price{
    text-align: center;
    font-size: 15px;
    vertical-align: bottom;
    color: #1f759a;
    
}

