<!--
  Generated template for the ResturantsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ngsc-header [name]='name'></ngsc-header>

</ion-header>


<ion-content padding>
  <ion-row class="rest-slides-cont">
    <ion-slides class="rest-slides"  parallax="true"slidesPerView='3' >
    <ion-slide class="rest-slider" *ngFor="let slide of categories" (tap)="filter(slide)">
    <div class="rest-name">
      {{slide.name}}
    </div>
    </ion-slide>
    </ion-slides>
  </ion-row>
  <div class="items-cont" *ngIf="!haveMenu">
    <div class="no-items-cont">
    No Menu items Aveilable
    </div>
  </div>
  <div class="items-cont" *ngIf="haveMenu" >
    <ion-row class="order-button-cont">
    <ion-col>
      <button ion-button class="order-button" (tap)="order()" name="Order">Order</button>
    </ion-col>
  </ion-row>
    <ion-scroll scrollY="true" style="height: 100%;">
  <ion-list>
    <div *ngFor="let item of choosenProducts ; let index = index ; trackBy:trackByIndex;">
    <ion-item >
          <ion-row >
            <ion-col class="item-header">
          {{item.name}}
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col>
                <div>
                
                <div   class="rest-input">
                  {{subOrders[index].quantity}}
                </div>
                </div>
              </ion-col >
                </ion-row>
                <ion-row>
              <ion-col>
                <div class="rest-item-price">
                  {{item.price}} LE
                </div>
              </ion-col>
            </ion-row>

        <ion-row class="prod-img-cont">
          <ion-col>
              <button class="rest-button" (tap)="changeNumber('remove',index)" ion-button>
                  <ion-icon  class="icon-no-margin"   name="remove" ></ion-icon>
               </button>
          </ion-col>
          <ion-col col-6>
            <img *ngIf="item.imageUrl" class="rest-img" [src]="item.imageUrl" >
            <img *ngIf="!item.imageUrl" class="rest-img" src="assets/img/no-img.jpeg" >
          </ion-col>
          <ion-col>
              <button class="rest-button" ion-button (tap)="changeNumber('add',index)"> 
                  <ion-icon class="icon-no-margin" name="add" ></ion-icon>
                </button>
          </ion-col>
          </ion-row>
        
    </ion-item>
    </div>
  </ion-list>
  </ion-scroll>

  </div>
  </ion-content>
