<!--
  Generated template for the RegestrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ngsc-header [name]='name'></ngsc-header>

</ion-header>


<ion-content class="regestration-content" padding>
  <img class="round-img" src="assets/img/ngiza.png">
   <form [formGroup]="regesterForm" (ngSubmit)="onRegester()">
  <ion-grid>
  
  <ion-row class="regestration-row">
    <ion-col col-3>
     <ion-icon name="phone-portrait" class="icon"></ion-icon>
    </ion-col>
    <ion-col >
     <ion-input  type="phone" name="phone" formControlName="phone" placeholder="enter your phone number"></ion-input>
     <div *ngIf="regesterForm.controls['phone'].invalid && regesterBefore == true">
       enter valed phone number
     </div>
    </ion-col>
  </ion-row>
  <!--
  <ion-row class="regestration-row">
    <ion-col col-3>
     <ion-icon name="lock" class="icon"></ion-icon>
    </ion-col>
    <ion-col >
     <ion-input type="password"  name="password" formControlName="password" placeholder="Password"></ion-input>
     <div *ngIf="regesterForm.controls['password'].invalid && regesterBefore == true">
       enter valed password
     </div>
    </ion-col>
  </ion-row>
  <ion-row class="regestration-row">
    <ion-col col-3>
     <ion-icon name="lock" class="icon"></ion-icon>
    </ion-col>
    <ion-col >
     <ion-input type="password"  name="Rpassword" formControlName="Rpassword" placeholder="Confirm Password"></ion-input>
     <div *ngIf="regesterForm.value.password != regesterForm.value.Rpassword && regesterBefore == true">
       paswords do not match
     </div>
    </ion-col>
  </ion-row>
  !-->
  <ion-row>
      <button ion-button type="submit" class="regestration-bottom" block>send code</button>
  </ion-row>
  </ion-grid>
   </form>
</ion-content>
