page-regestration {
  .reg-error-row{
    width: 90%;
  }
  .reg-error-div{
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
    
}
.regestration-content{
    background-color: 	#003147;
}
.icon{
    color: 	#fbb713;
    font-size: 3em;
    margin: auto
}
.regestration-row{
        margin: auto;
        width: 75%;
}
.text-input::-moz-placeholder {
  color: white;
}

.text-input:-ms-input-placeholder {
  color: white;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
}
.regestration-bottom{
    margin: auto;
    width: 50%;
    color: #003147;
    background-color:#fbb713 ;
}

ion-input{
    color: #ffffff;
}
input{
  width: 100%;
  color: #ffffff;
}
.text-input::-moz-placeholder {
  color: white;
  text-align: center;
}

.text-input:-ms-input-placeholder {
  color: white;
  text-align: center;
}

.text-input::-webkit-input-placeholder {
  text-indent: 0;
  color: white;
  text-align: center;
}
