page-jointeam {
    .join-team-div{
        border: #4E4747 solid;
        padding-top: 15px;
       // border-radius: 15%;
    }
    .coach-name{
        margin: auto;
        text-align: center;
    }
    .join-button{
        color: #003147;
        background-color: #fbb713;
       
    }
}
