<!--
  Generated template for the JointeamPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
<ngsc-header [name]="name"></ngsc-header>
</ion-header>


<ion-content padding>
  <div class="join-team-div">
    <ion-row>
    <h6>Team Name : {{team.name}}</h6>
    </ion-row>
    <ion-row>
      <h6>sport : {{team.sport.name}}</h6>
    </ion-row>
    <ion-row>
        <ion-col>
          <h6>Age : {{team.age}}</h6>
        </ion-col>
        <ion-col>
          <h6>Gender: {{team.gender}} </h6>
        </ion-col>
      </ion-row>

      <ion-row>
          <ion-col>
            <h6>Cost : {{team.cost}}</h6>
          </ion-col>
          <ion-col>
            <h6>Every: {{team.billingPeriod}} month(s) </h6>
          </ion-col>
        </ion-row>
  </div>

  <div class="join-team-div">
    <ion-row>
        <img class="round-img"src={{team.coach.image}}>
    </ion-row>
    <ion-row>
      <h6 class="coach-name">{{team.coach.name}}</h6>
    </ion-row>
    <ion-row>
      <h6>{{team.coach.bio}}</h6>
    </ion-row>
  </div>


<div class="join-team-div">
<ion-row>
  <h6>Schedule</h6>
</ion-row>
<ion-row>
  <h6>Details :</h6>
</ion-row>
<div *ngFor="let item of Sdetails">
<ion-row >
<h6>{{item}}</h6>
</ion-row>
</div>
</div>
<ion-row *ngIf="userReady">
    <ion-col col-4>
   <button ion-button  class="order-bottom" block (tap)="changePayment(member)">{{member.username}}</button>
    </ion-col>
    <ion-col>
        <button ion-button  class="order-bottom" block (tap)="changePayment(user)">{{user.username}}</button>
    </ion-col>
  </ion-row>
<button ion-button class="join-button" (tap)="join()" block> Join</button>
</ion-content>
