<!--
  Generated template for the OrderPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
 <ngsc-header [name]='name'></ngsc-header>
</ion-header>


<ion-content padding>
<ion-row>
    <ion-col class="order-header-col">
      Item Name
    </ion-col>
    <ion-col class="order-header-col">
      Quantity
    </ion-col>
    <ion-col class="order-header-col">
      Item Price
    </ion-col>
    <ion-col class="order-header-col">
      Purchase price
    </ion-col>
  </ion-row>
<div class="order-dis" *ngFor="let order of viewOrder;let index = index ; trackBy:trackByIndex;">
  <ion-row>
    <ion-col  class="order-col">
      {{order.item.name}}
    </ion-col>
    <ion-col  class="order-col">
      {{order.quantity}}
    </ion-col>
    <ion-col  class="order-col">
      {{order.item.price}}
    </ion-col>
    <ion-col  class="order-col">
      {{order.item.price * order.quantity}}
    </ion-col>
  </ion-row>
</div>
<ion-row>
  <ion-col>
    <p>table number</p>
  </ion-col>
  <ion-col>
  <ion-input class="table-number" type="number" pattern="[0-9]*"  max="99" [(ngModel)]="tableCode"  placeholder="enter your input"></ion-input>
  </ion-col>
  </ion-row>
  <div class="total-price">
  <ion-row>
  <ion-col>
    Total Price :
  </ion-col>
  <ion-col>
    {{totalPrice}}
  </ion-col>
  </ion-row>
  

  <div *ngIf="paymentMethod == 61">
<ion-row>
  <ion-col>
    Your balance now :
  </ion-col>
  <ion-col>
    {{user.balanceMoney}}
  </ion-col>
  </ion-row>
<ion-row>
<ion-col>
    Your balance after purchase :
  </ion-col>
  <ion-col>
    {{user.balanceMoney - totalPrice }}
  </ion-col>
</ion-row>
  </div>
  </div>
<ion-row>
  <ion-col class="payment-method-col">
    Choose payment Method :
  </ion-col>
</ion-row>
  <div *ngFor="let method of paymentMethods">
  <ion-row>
    <ion-col col-4>
   <button ion-button  class="order-bottom" block (tap)="changePayment(method.name)">{{method.name}}</button>
    </ion-col>
  </ion-row>
  </div>

<ion-row>
  <button ion-button  class="order-bottom" block (tap)="confirmOrder()">Confirm Order</button>
</ion-row>

</ion-content>
