page-abouttabs {

}
.about-container{
    background-color: #003146;
    background-image: "assets/img/aboutus.png";

}
.about-header{
    color: #fdb71e;
}
.about-text{
    color: #ffffff;
    font-size: 17px;
}
.about-text-container{
    width: 80%;
    text-align: center;
    margin: auto;
}