page-interact {
    .image-div{
            padding-top: 89px;
            height: 322px;
            width: 322px;
            margin: auto;
            background-color: green;
            font-size: 20px;
            
    }
    .image-div-wrapper{
        height : 24% ;
         background-color: black ;
    }
    .interact-body{
    background-color:transparent ; 
}

}
ion-app, ion-content {
  background-color: transparent  ;
}
ion-app.md{
    background-color: transparent
}