page-codeverification {
    .regestration-bottom{
    margin: auto;
    width: 100%;
    color: #003147;
    background-color: #fbb713;
    }
    .icon{
        color: 	#fbb713;
        font-size: 3em;
        margin: auto
    }
}
